.login-page {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.forget-password {
  float: right;
  font-size: 15px;
  color: #0829be;
  text-decoration: none;
}

.forget-password:hover {
  text-decoration: underline;
}
