.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  background-image: linear-gradient(-90deg, #fff, #eee);
  box-shadow: 1px, 1px, 20px, rgba(0, 0, 0, 0.3);
 /* -webkit-transition: all 0.8s;*/
}
.navbar li {
  float: left;
  list-style: none;
  margin: 0 50px;
}
