.grid {
    display: grid;
  }
  
  .grid-six {
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    gap: 12px; /* Adjust the gap between grid items as needed */
  }
  
  .parking-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%; /* Adjust the width as needed */
    margin: 20px auto; /* Centers the container horizontally and adds vertical space */
    height: auto; /* Optional: Set the height to 100% of the viewport height for vertical centering */
  }
  